# Игнорировать node_modules для всех компонентов
node_modules/

# Игнорировать собранные файлы и директории для фронтенда
frontend/build/
frontend/dist/

# Игнорировать сгенерированные файлы для бэкенда
backend/build/
backend/dist/

# Игнорировать временные файлы и директории
**/.DS_Store
**/.log

# Игнорировать файлы конфигурации, содержащие секретные данные
.env
.local.env

# Игнорировать файлы базы данных
structures/database.db